<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.foree.zetianji">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="org.foree.zetianji.BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name="org.foree.zetianji.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.foree.zetianji.ArticleActivity">
        </activity>
        <!-- 配置第三方Receiver -->
        <receiver
        android:name="org.foree.zetianji.PushReceiver"
        android:exported="false">
        <intent-filter>
            <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
        </intent-filter>
    </receiver>

</application>

</manifest>